<!DOCTYPE html>
<html>
  <head>
    <title>Servers.tf</title>
    <link
      rel="stylesheet"
      href="[[request.static_path(
        'serverstf.ui:external/normalize-css/normalize.css')]]">
    <link
      rel="stylesheet"
      href="[[request.static_path(
        'serverstf.ui:external/fontawesome/css/font-awesome.css')]]">
    <link
      rel="stylesheet"
      href="[[request.static_path('serverstf.ui:styles/serverstf.css')]]">
    <script
      src="[[request.static_path('serverstf.ui:external/requirejs/require.js')]]"
      data-main="scripts/serverstf"></script>
  </head>
  <body class="svtf-theme-tf2">
    <div class="svtf-body">

      <header class="svtf-header">
        <nav>
          <ul>
            <li><a href="#">SVTF</a></li>
            <li><a href="#"><i class="fa fa-line-chart"></i><span>Stats</span></a></li>
            <li><a href="#"><i class="fa fa-star-o"></i><span>Favourites</span></a></li>
            <li><a href="#">TF2</a></li>
            <li><a href="#">GMod</a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="https://github.com/Holiverh/serverstf" target="_blank"><span>Contribute</span><i class="fa fa-github"></i></a></li>
            <li><a href="https://github.com/Holiverh/serverstf/issues/new" target="_blank"><span>Report Bug</span><i class="fa fa-bug"></i></a></li>
            <li><a href="#"><span>Settings</span><i class="fa fa-cogs"></i></a></li>
            <li><a href="#" svtf-modal-open="['SignIn']"><span>Sign in</span><i class="fa fa-sign-in"></i></a></li>
          </ul>
        </nav>
      </header>

      <div class="svtf-view">
        <svtf-modal></svtf-modal>

        <div class="svtf-search" ng-controller="SearchControl as search">
          <div class="svtf-search-control">
            <form ng-submit="search.submit()">
              <input type="text" ng-model="tag">
            </form>
            <ol>
              <li class="svtf-tag" ng-repeat="query in search.query">
                <div class="svtf-tag-prefix">{{query.mode}}</div>
                <div class="svtf-tag-name">{{query.tag}}</div>
              </li>
            </ol>
            <div class="svtf-search-results">
              {{search.servers.length}} servers found
            </div>
          </div>
          <ol class="svtf-server-list">
            <li
              class="svtf-server"
              ng-repeat="server in search.servers"
              svtf-modal-open="['ServerDetails', {ip: server.ip, port: server.port}]">
              <div>
                <header
                  class="svtf-map-after svtf-map-size-350"
                  svtf-map="server">
                  <div class="svtf-server-statistics">
                    <div class="svtf-server-rank">#{{$index + 1}}</div>
                    <div class="svtf-server-freshness">0s</div>
                  </div>
                  <div class="svtf-server-map">{{server.map}}</div>
                </header>
                <div class="svtf-server-name">{{server.name}}</div>
                <div class="svtf-server-information">
                  <div>
                    <div>{{server.players.current}}</div>
                    <div>Players</div>
                  </div>
                  <div>
                    <div>{{server.country}}</div>
                    <div>Country</div>
                  </div>
                  <div>
                    <div>{{52}}</div>
                    <div>Ping</div>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>

      </div>

    </div>
  </body>
</html>
