<!DOCTYPE html>
<html>
  <head>
    <title>Servers.tf</title>
    <link
      rel="stylesheet"
      href="[[request.static_path(
        'serverstf.ui:external/normalize-css/normalize.css')]]">
    <link
      rel="stylesheet"
      href="[[request.static_path('serverstf.ui:styles/serverstf.css')]]">
    <script
      src="[[request.static_path('serverstf.ui:external/requirejs/require.js')]]"
      data-main="scripts/serverstf"></script>
  </head>
  <body>

    <div ng-controller="ServerList as list">
      <h1>{{list.address.ip}}:{{list.address.port}}</h1>
    </div>

  </body>
</html>
