
{% extends "generic.html" %}

{% load staticfiles %}

{% block title %}Proceed to Steam?{% endblock %}
{% block content %}
<p id="intro">
	In order to log in to servers.tf you must sign in via Steam.
	By clicking the link below you will be redirected to the 
	Steam OpenID login page.
</p>
<img src="{% static 'img/login-notice.png' %}" style="width: 860px; display: block; margin: 0 auto;">
<a href="{{redirect_url}}">Proceed to login</a>
<p>
	Now is good time to read servers.tf's <a href="#">privacy policy</a> in
	regards to how we use data collected from Steam.
</p>
<p>
	Depending of the availability of Steam's services, it may
	take a few moments after successful login for servers.tf
	to syncronise profiles.
</p>
{% endblock %}
