__pycache__/
htmlcov/
node_modules/
*.egg*/

client/external/
client/styles/*.css

serverstf/ui/data/maps*json
serverstf/ui/images/maps/*
!serverstf/ui/images/maps/masters/
serverstf/ui/external/
serverstf/ui/scripts/
serverstf/ui/styles/*.css

.coverage
*.mmdb
