@import url(http://fonts.googleapis.com/css?family=Basic);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import "grid.less";

@columns: 12;
@gutter-width: 0;
@total-width: 100%;

@max-width: 940px;

@images: "../images";

@tf2-neutral-0: #F6E7DE;
@tf2-neutral-1: #DABDAB;
@tf2-neutral-2: #C1A18A;

@tf2-yellow-0: #F8B98A;
@tf2-yellow-1: #F5AD87;
@tf2-yellow-3: #EF9849;
@tf2-yellow-4: #F18149;

@tf2-red-0: #6A4534;
@tf2-red-1: #913A1F;
@tf2-red-2: #BD3A3A;
@tf2-red-3: #9D302F;
@tf2-red-4: #452C25;

@tf2-blu-0: #6B6A65;
@tf2-blu-1: #768A88;
@tf2-blu-2: #5B7A8C;
@tf2-blu-3: #385C78;
@tf2-blu-4: #342F2C;


@black: #262626;
@grey: #333333;
@white: #ffffff;


.font-emphasis() {
    font-family: "Basic", sans-serif;
}

.font-normal() {
    font-family: "Raleway", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    .font-emphasis();
}


body {
    background-color: @tf2-neutral-0;
    background-image: url("@{images}/background.png");
}


.wrapper {
    max-width: @max-width;
    margin: 0 auto;
}


header.main {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    padding-bottom: 1px;  // TODO: no
    border-bottom: 5px solid @tf2-neutral-2;
    background-image: url("https://raw.githubusercontent.com/Holiverh/serverstf/d0b3c47e95d1649e9ed310e6b743b71a23f15690/static/img/v8.2.jpg");
    box-shadow: inset 0px -200px 200px -200px #000000;

    nav {
        background-color: fade(@black, 40%);
        background-image: linear-gradient(to bottom,
                                          rgba(0, 0, 0, 0.5), transparent);

        ul {
            .wrapper();
            padding: 0;
            list-style-type: none;

            > li {
                display: inline-block;

                &.right {
                    float: right;

                    > a > span {
                        margin-left: 0;
                        margin-right: 1em;
                    }
                }

                > a {
                    .font-normal();
                    display: inline-block;
                    padding: 1em;
                    border-bottom: 3px solid transparent;
                    color: @white;
                    font-size: 0.8em;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    transition: all 0.2s ease;

                    > span {
                        display: none;
                        margin-left: 1em;
                    }

                    &:hover {
                        border-color: fade(@white, 50%);
                        background-color: rgba(0, 0, 0, 0.4);

                        > span {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }  // nav


    .search {
        .wrapper();
        position: relative;
        margin-top: 60px;
        margin-bottom: 60px;
        box-sizing: border-box;
        color: @white;
        font-size: 2em;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
        border-radius: 4px;

        i.fa {
            position: absolute;
            top: 50%;
            left: 0.5em;
            transform: translateY(-50%);
            opacity: 0.8;
        }

        input {
            .font-emphasis();
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            background-color: transparent;
            border: 0;
            padding: 0.5em 2.25em;

            &:focus {
                outline: 0;
            }
        }
    }  // .search
}  // header


ol.search-results {
    margin: 0;
    margin-top: 280px;
    padding: 0;
    list-style-type: none;

    > li {
        .font-normal();
        display: block;
        margin: 20px 0;
        padding: 20px;
        border-left: 15px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        background-color: @tf2-blu-4;
        color: @tf2-neutral-0;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);

        header {
            .row(6);
            padding-bottom: 1em;
            border-width: 0;
            border-bottom: 1px;
            border-image: linear-gradient(to right,
                                      rgba(255, 255, 255, 0) 0%,
                                      rgba(255, 255, 255, 0.5) 50%,
                                      rgba(255, 255, 255, 0.0)) 100% 0;

            .top-row() {
                font-size: 1.5em;
                padding: 0.25em 0;
                box-sizing: border-box;
            }

            .server-player-count {
                .column(1, 6);
                .top-row();

                .server-player-count-max {
                    font-size: 0.8em;
                    opacity: 0.8;
                }
            }

            .server-name {
                .column(4, 6);
                .top-row();
                position: relative;
                white-space: nowrap;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    box-shadow: inset -50px 0px 30px -20px @tf2-blu-4;
                }
            }

            .server-connect {
                .column(1, 6);
                .top-row();
                color: @tf2-neutral-0;
                text-align: center;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.25);

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }

        .server-tags {
            margin: 0;
            margin-top: 1em;
            margin-left: percentage(1 / 6);
            padding: 0;

            .server-tag {
                display: inline-block;
                margin-top: 0.5em;
                padding: 0.2em 0.5em;
                background-color: rgba(0, 0, 0, 0.25);
                font-size: 0.8em;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        .server-expand {
            .row(2);
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.5);

            &-left, &-right {
                .column(1, 2);
            }

            &-right {
                background-color: rgba(0, 0, 0, 0.15);
            }
        }

        .server-players {
            width: 100%;

            thead {
                .font-emphasis();
                border-width: 0;
                border-bottom: 1px;
                font-size: 1.2em;
            }

            td, th {
                padding: 0.5em;
            }

            tbody tr {
                &:nth-child(2n - 1) {
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }
        }

        .server-location {
            height: 300px;
            width: 100%;
            background-color: #e0e0e0;
            border: 0;
        }

        .server-location-wrong {
            padding: 1em 0;
            text-align: center;
            font-style: italic;
        }
    }

}  // .search-results
