{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock%} &mdash; servers.tf</title>
		{% include "common_head.html" %}
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="{% static 'js/serverstf.js' %}"></script>
		<script type="text/javascript">
			function search() {
				
				var tags = [];
				$("#search .tags > li").each(function () {
					tags.push($(this).text());
				});
				
				serverstf.ServerEntry.list(tags, collection.extend);
				collection.filter(tags);
				
				window.location.hash = tags.join(",");
			}
			
			$(document).ready(function () {
				serverstf.region = "{% block region %}~{% endblock %}";
				serverstf.api_root = "/rest";
				serverstf.allow_relist = {% block allow_relist %}false{% endblock %};
				serverstf.csrf_token = "{{csrf_token}}";
				serverstf.ServerEntry.template.source = $(".server-entry#template");
				serverstf.ServerEntry.template.fields = {
					name: ".server-name",
					player_count: ".player-count",
					bot_count: ".bot-count",
					max_players: ".max-player-count",
					host: ".server-host",
					port: ".server-port",
					map: ".server-map",
					tags: "ul.tags",
					connect: "a.connect-link",
					favourite: ".fav-icon",
					
					detail: ".modules",
					location: "img.server-location-map",
					activity: "div.activity-chart",
					players: "table.player-table",
				};
				serverstf.ServerEntry.activity_chart = {
					allowRedraw: true,
					displayAnnotations: false,
					displayLegendDots: false,
					displayLegendValues: false,
					displayRangeSelector: false,
					displayZoomButtons: false,
					colors: [
						"#404040",
						"#9F9F9F"
						],
					fill: 35,
					max: 32,
					min: 0
				};

				collection = new serverstf.Collection($("#servers"));
				tags = window.location.hash.slice(1).split(",");
				for (var i = 0; i < tags.length; i++) {
					serverstf.tag(tags[i], $("#search .tags"));
				}
				
				var initial_ids = {% block initial_ids %}[]{% endblock %};
				$.each(initial_ids, function (i, id) {
					collection.add(id);
				})
			});
			
			$(document).ready(function () {
				$("#search #input-field").click(function () { $(this).find("input[type=text]").focus() });
				$("#search #input-field input[type=text]").focus(function () { $(this).val("") });
				$("#search #input-field input[type=text]").blur(function () { if ($(this).val().length == 0) $(this).val("type to add tags") });
				$("#search #input-field input[type=text]").keypress(function (event) {
					if (event.which == 13) {
						if ($(this).val().length == 0) { return; }
						
						serverstf.tag($(this).val(), $("#search .tags"));
						$(this).val("");
					}
				});
				$("#search .tags").on("click", "li", function () { $(this).remove(); search(); });
				$(".server-entry .tags").on("click", "li", function () { serverstf.tag("+" + $(this).text(), $("#search .tags")); search(); });
			});
			
			setInterval(search, 20000);
		</script>
	</head>
	
	<body>
		
		{% include 'header_wide.html' %}
		
		<div id="template" class="server-entry">
			<span class="id"></span>
			
			<div class="margin">
				<span class="player-count"></span><span class="max-player-count"></span>
				<br>
				{% if user.is_authenticated %}
					<span class="fav-icon icon-star"></span>
				{% else %}
					<span class="hide"><span class="fav-icon icon-star"></span></span>
				{% endif %}
			</div>
			
			<div class="main">
				<span class="server-name"></span>
				<ul class="tags"></ul>
				<div class="clear"></div>
				<div class="modules">
					
					<div class="module">
					<!-- START module.overview -->
						<h6><span class="icon-globe"></span> Server Location</h6>
						<img class="server-location-map" src="">
						
						<h6><span class="icon-bar-chart"></span> Activity</h6>
						<div class="activity-chart"></div>
						
						<h6><span class="icon-certificate"></span> Server Details</h6>
						<p class="server-description"></p>
						
						<ul>
							<li>Address: <span class="server-host"></span>:<span class="server-port"></span></li>
							<li>Map: <span class="server-map"></span></li>
						</ul>
						
						<a class="connect-link button-esque">Connect <span class="icon-share-alt"></span></a>
						
					<!-- END module.overview -->
					</div>
					
					<div class="module">
					<!-- START module.players -->
						<table class="player-table">
							<tr>
								<th>Name</th>
								<th>Score</th>
								<th>Time</th>
							</tr>
						</table>
					<!-- END module.players -->
					</div>
					
					<div class="clear"></div>
					
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		<div id="list-info">
		{% block list_info %}{% endblock %}
		</div>
		
		<div id="servers">
		</div>
		
		<div id="search">
			<div>
				<div id="input-field">
					<ul class="tags">
						{% for tag in tags %}
							<li>{{tag}}</li>
						{% endfor %}
					</ul>
					<input type="text" value="type to add tags">
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		
	</body>
	
</html>
