
{% extends "browser/list.html" %}

{% block title %}{{network.name}} &mdash; Network{% endblock %}
{% block initial_ids %}[{{initial_ids|join:","}}]{% endblock %}

{% block list_info %}
<div id="network">
	<div class="panel">
		<a id="network-name" href="{{network.url}}">{{network.name}}</a>
		{% if user.is_authenticated and user in network.admins.all %}
		<a class="icon-edit" href="{% url 'manage.network' network.slug %}"></a>
	{% endif %}
	</div>
	<div class="panel">
		<div>
			<ul>
				{% if network.url %}
				<li><a href="{{network.url}}">Website</a></li>
				{% endif  %}
				{% if network.steam_group %}
				<li><a href="{{network.steam_group}}">Steam Group</a></li>
				{% endif  %}
			</ul>
		</div>
		<div>
			<ul class="tags">
			</ul>
		</div>
	</div>
</div>
{% endblock %}
