
#main { height: 100%; }

#party-panel { 
	height: 100%;
	width: 400px;
	
	float: left;
}
#party-panel .divide { border-bottom: 1px solid #D0D0D0; margin-bottom: 3px; }
#party-panel > div {
	position: relative;
	
	height: 100%;
	border-right: 2px solid #ADADAD;
	
	background-color: #EBEBEB;
	box-shadow: inset -25px -25px 50px 0px #C7C7C7;
	
	padding: 0 5px;
}
#party-config { padding-top: 5px; margin-bottom: 3px; }
.field-wrapper {
	padding-bottom: 3px;
	width: 100%;
	overflow: hidden;
}
#role-selection select > option[disabled] {
	display: none;
	color: #DDDDDD;
}
#party-panel label {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #444444;
	font-size: 0.8em;
	text-align: center;
	text-shadow: 1px 1px 2px #FFFFFF;
	
	padding-top: 1em;
	
	width: 20%;
	display: inline-block;
	float: left;
	line-height: 1em;
}
#party-panel input, select, button {
	width: 75%;
	float: right;
}

#party-members {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 3px;
	/* top: set by js; */
	
	background-color: #FFFFFF;
	border: 1px inset #ADADAD;
	
	overflow: auto;
}
#party-members #solo-hint {
	color: #BBBBBB;
	padding: 10px;
	
	text-align: center;
	font-size: 0.8em;
}

.user-card.template { display: none; }
.user-card {
	margin: 5px;
	padding: 5px;
	
	background-color: #303030;
	box-shadow: inset 25px 25px 50px -25px #000000;
	
	color: #BBBBBB; font-size: 0.8em;
	
	overflow: hidden;
}
.user-card .avatar {
	width: 64px;
	height: 64px;
	
	margin-right: 8px;
	
	border: 3px solid;
	border-radius: 7px;
	
	float: left;
}
.user-card.offline .avatar { border-color: #D1D1D1; }
.user-card.online .avatar { border-color: #6DCFDE; }
.user-card.ingame .avatar { border-color: #26C41D; }

.user-card .profile-name {  font-weight: bold; font-size: 1.2em; }
.user-card.offline .profile-name { color: #D1D1D1; }
.user-card.online .profile-name { color: #6DCFDE; }
.user-card.ingame .profile-name { color: #26C41D; }



#lobbies {
	margin-left: 400px;
	height: 100%;
}
#lobbies > div {
	height: 100%;

	overflow: auto;
}

.lobby-entry {
	width: 1100px;
	
	margin: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.lobby-entry > .overview {
	background-color: #B0B0B0;

	padding: 10px;
	
	font-size: 2.5em;
	color: #FFFFFF;
}
.lobby-entry > .overview .fixed-span {
	width: 150px;
	display: inline-block;
	text-align: center;
	
	border-right: 1px solid #666666;
}
.lobby-entry .teams {
	background-color: #FFFFFF;
	padding: 10px;
	
	border: 1px solid #D6D6D6;
	text-align: center;
}
.lobby-entry .teams .versus { font-size: 1.2em; padding: 0.5em; color: #949494; }
.lobby-entry .teams .slots { width: 400px; }
.lobby-entry .slots .team {
	color: #FFFFFF;
	
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 0.5em;
}
.lobby-entry .slots.red { float: left; }
.lobby-entry .slots.blu { float: right; }
.lobby-entry .slots.red .team { background-color: #D10D0D; text-align: left; }
.lobby-entry .slots.blu .team { background-color: #1745C2; text-align: right; }
.lobby-entry .slot {
	border: 1px solid #D6D6D6;
	background-color: #F0F0F0;
	
	padding: 5px;
	margin: 5px 0;
	
	color: #D6D6D6;
	
	overflow: hidden;
}
.lobby-entry .slots.red .join { float: left; }
.lobby-entry .slots.red { text-align: left; }
.lobby-entry .slots.blu .join { float: right; }
.lobby-entry .slots.blu { text-align: right; }

.lobby-entry .slot .join {
	width: 64px;
	height: 64px;
	margin-right: 8px;
	
	font-size: 48px;
	text-align: center;
	
	border: 3px solid #F0F0F0;
	
	float: left;
}
.lobby-entry .slot .class-name {
	font-size: 32px;
	
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 70px; /* 64 + 3 + 3 = 70 */
}
