
html, body {
	margin: 0;
	font-family: "Noto Sans", "Verdana", sans-serif;
	font-size: 17px;
}

a { color: #46B720; text-decoration: none; }
a:visited { color: #46B720; }
a:hover { color: #B3CD18; }

table {
	border-spacing: 0px;
	width: 100%;
}
table th {
	padding: 5px;
	/*background-color: #404040;*/
	text-align: left;
	font-weight: bold;
	/*color: #FFFFFF;*/
	border-bottom: 1px solid #404040;
}
table td { padding: 5px; }
table tr.row { background-color: #E9E9E9; }
table.fancy {
	width: 100%;
}

ul { list-style-type: square; }
code {
	background-color: #E6E6E6;
	border: 1px solid #6E6E6E;
	padding: 0.1em;
}

input, select, button {
	font-size: 1em;
	font-family: "Noto Sans", "Verdana", sans-serif;
}
button, input[type=submit] {
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
		
	border: 1px solid #E8E8E8;
	padding: 5px;
	border-radius: 5px;
	
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: -1px -1px 1px #919191;
	
	cursor: pointer;
}

input[type=text] {
	border: 1px solid #E8E8E8;
	padding: 5px;
	border-radius: 5px;
	
	color: #4E4E4E;
}
input[type=text]:focus {
	border-color: #A0F071;
}

.left { float: left; }
.right { float: right; }

.clear { clear: both; }
.hide { display: none; }

.small { font-size: 0.8em; }
.large { font-size: 1.2em; }

#header { font-size: 1.1em; z-index: 0; position: relative; }
#header a { color: #EBEBEB; }
#header a:hover { color: #FFFFFF; }
#header-inner {
	padding: 10px 20px;

	background-color: #232323;
	background-image: url("../img/heading-grad.png");
	background-repeat: repeat-x;
	background-position: bottom;
	
	border-bottom: 1px solid #000000;
	border-bottom: 1px solid #FFFFFF;
	
	color: #EBEBEB;
	
	box-shadow: 0 0px 40px 5px #AAAAAA;
}
#header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

#header #title {
	letter-spacing: 3px;
	text-shadow: -1px -1px 1px #000000, 1px 1px 1px #414141;
}

#header #nav {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	list-style-type: none;
}
#header #nav > li {
	float: left;
	padding: 0 20px;
	
	background-image: url("../img/nav-divider.png");
	background-repeat: no-repeat;
	background-position: left center;
	
	letter-spacing: 3px;
}
#header #nav > li a { color: #C8C8C8; }
#header #nav > li a:hover { color: #E6E6E6; }

#header #login { height: 1em; vertical-align: middle; }
#header #user-controls {}
#header #user-controls > a {
	padding-left: 5px;
	text-shadow: -1px -1px 1px #414141,
					1px 1px 1px #000000;
}

.server-entry#template { display: none; }
.server-entry {
	/*border: 1px solid #00ff00;*/
	padding: 5px 0;
	border-top: 1px solid #BEBEBE;
	cursor: pointer;
}
.server-entry .id { display: none; }
.server-entry .fav-icon { color: #D1D1D1; text-shadow: 0px 0px 2px #7A7A7A; font-size: 1em; }
.server-entry .fav-icon:hover { cursor: pointer; }
.server-entry .fav-icon.saved { color: #EFD856; text-shadow: 0px 0px 2px #E0B814; }
.server-entry .margin {
	width: 120px;
	height: 100%;
	
	text-align: center;
	line-height: 150%;
	
	float: left;
	
	/*border: 1px solid #ff0000;*/
}
.server-entry .margin .player-count { font-size: 1.2em; }
.server-entry .margin .max-player-count { color: #949494; }

.server-entry .main {
	/*border: 1px solid #0000ff;*/
	
	float: left;
}
.server-entry .main .server-name {
	font-size: 1.2em;
	font-weight: normal;
}


.server-entry .main .modules {
	border-left: 3px solid #404040;
	padding-left: 5px;
	margin-top: 5px;
	
	display: none;
}
.server-entry .main .modules > .module {
	margin-right: 10px;
	width: 400px;

	font-size: 0.9em;
	float: left;
	/*border: 1px solid #ff0000;*/
}
.server-entry .main .modules > .module > h6 {
	margin: 0;
	margin-bottom: 0.5em;
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #404040;
}

.server-location-map {
	width: 400px;
	height: 200px;
	
	background-color: transparent;
	background-image: url("../img/missing-gmaps.png");
	background-position: center center;
	
	display: block;
}


.activity-chart { width: 400px; height: 150px; }

.connect-link {
	padding: 10px;
	
	color: #1E1E1E;
	text-align: center;
	font-weight: bold;
	
	border: 1px outset #9B9B9B;
	border-radius: 5px;
	background-color: #BEBEBE;
	
	display: block;
}
.connect-link:hover {
	color: #1E1E1E;
	background-color: #EACA13;
	border-color: #EC8E11;
}








.tags {
	padding: 0;

	font-size: 7.65px;
	font-style: italic;
	font-weight: bold;
	list-style-type: none;
	
	margin: 5px 0;
	
	/*overflow: auto;
	width: 100%;*/
	}
.tags > li {
	padding: 3px;

	float: left;
	margin-right: 10px;
	border: 2px solid #B6B6B6;
	background-color: #B6B6B6;
	
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 1px #6A6A6A;
	
	cursor: pointer;
	}
.tags > li > span.add {
	padding-left: 3px;
	margin-left: 3px;
	margin-right: -3px;
	border-left: 1px solid;
}

/*
.tags > li.active { border-color: #288A2B; background-color: #FFFFFF; color: #000000; text-shadow: none; }
.tags > li.full { border-color: #C90101; background-color: #C90101; color: #FFFFFF; }
.tags > li.trade { border-color: #622D0D; background-color: #622D0D; color: #FFFFFF; }
.tags > li.vsh { border-color: #011094; background-color: #011094; color: #FFFFFF; }
.tags > li.mge { border-color: #0C4303; background: #0C4303; color: #FFFFFF; text-shadow: -1px -1px 1px #092B02, 1px 1px 1px #136604; }
.tags > li.soap { border-color: #0A3302; background: #0A3302; color: #FFFFFF; text-shadow: -1px -1px 1px #051B01, 1px 1px 1px #136604; }
.tags > li.jump { border-color: #9ADAFC; background-color: #9ADAFC; color: #FFFFFF; text-shadow: -1px -1px 1px #62C6FB, 1px 1px 1px #B0E2FD; }
.tags > li.surf { border-color: #4EBDFA; background-color: #4EBDFA; color: #FFFFFF; text-shadow: -1px -1px 1px #15A9F9, 1px 1px 1px #6FCAFB; }
.tags > li.randomiser { border-color: #F2AE11; background-color: #F2AE11; }
.tags > li.vac, li.smac { border-style: dashed; border-color: #FFFFFF; }
.tags > li.nocrit, li.nospread, li.nobulletspread { background-color: #710606; border-color: #710606; }
*/

input[type=text] {
	border: 1px solid #D4D4D4;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 3px;
	color: #464646;
}
input[type=text]:focus { outline: none; }






#search {
	width: 100%;

	position: fixed;
	bottom: 0;

	background-color: #232323;

	color: #EBEBEB;
}
#search > div { padding: 5px; }
#search #input-field {
	padding: 5px;

	border: 1px inset #000000;
	background-color: #FFFFFF;
	
	color: #000000;
}
#search #input-field > .tags { padding: 0; margin: 0; }
#search #input-field > .tags > li {  }
#search #input-field > input[type=text] {
	width: 150px;
	padding: 3px;

	border: 2px solid #FFFFFF;
	
	font-style: italic;
	font-weight: bold;
	font-size: 7.65px;
	text-transform: uppercase;
	letter-spacing: 2px;
	
	float: left;
}
