// Styles for the main application header.


.svtf-header(
  @background-colour,
  @foreground-colour,
  @border-colour,
  @sign-out-background-colour,
  @sign-out-foreground-colour,
) {

.svtf-header {
    display: flex;
    justify-content: space-between;
    background-color: @background-colour;
    border-bottom: 2px solid @border-colour;
    text-transform: uppercase;

    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            a {
                display: block;
                padding: 0.8em 1em;
                color: @foreground-colour;
                text-decoration: none;
                border-top: 3px solid transparent;
                border-bottom: 3px solid transparent;
                font-weight: bold;
                text-shadow: 0 1px 0 darken(@background-colour, 10%);

                &:hover {
                    border-bottom-color: @border-colour;

                    span {
                        display: initial;
                    }
                }

                span {
                    display: none;
                    margin: 0 1em;
                }
            }

            &.svtf-header-sign-out {
                width: 55px;
                text-align: center;
                border-left: 2px solid @background-colour;

                &:not(:hover) {
                    position: relative;
                    background-image: url("http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/38/387f880d55b3cd3eaaf23b13e8e787c674336ed6_full.jpg");
                    background-size: cover;
                    border-color: @border-colour;

                    > * {
                        display: none;
                    }
                }

                &:hover {
                    background-color: @sign-out-background-colour;
                    background-image: repeating-linear-gradient(
                        -45deg,
                        transparent,
                        transparent 10px,
                        lighten(@sign-out-background-colour, 5%) 10px,
                        lighten(@sign-out-background-colour, 5%) 20px,
                    );
                    color: @sign-out-foreground-colour;

                    a {
                        border-color: transparent;
                        color: @sign-out-foreground-colour;
                        text-shadow:
                            0 1px 0 darken(@sign-out-background-colour, 10%);
                    }
                }

            }
        }
    }

    nav:first-child ul li a span { margin-right: 0; }
    nav:last-child ul li a span { margin-left: 0; }
}

}  // .svtf-header


body {
  .svtf-header(
    @background-colour: #ffffff,
    @foreground-colour: #000000,
    @border-colour: #000000,
    @sign-out-background-colour: #000000,
    @sign-out-foreground-colour: #ffffff,
  )
}
