@maps: "../images/maps";
@tf2: "@{maps}/tf2";


.svtf-map(@class, @image) {
    @suffix: ~"@{class}";

    .svtf-map-x {
        &.svtf-map-x-@{suffix} {
            &.svtf-map-before::before {
                background-image: url("@{image}");
            }

            &.svtf-map-after::after {
                background-image: url("@{image}");
            }

            &:not(.svtf-map-before):not(.svtf-map-after) {
                background-image: url("@{image}");
            }
        }
    }
}


.svtf-map("440-arena-badlands", "@{tf2}/badlands.jpg");
.svtf-map("440-cp-badlands", "@{tf2}/badlands.jpg");
.svtf-map("440-koth-badlands", "@{tf2}/badlands.jpg");
.svtf-map("440-cp-granary", "@{tf2}/granary.jpg");
.svtf-map("440-cp-well", "@{tf2}/well.jpg");
.svtf-map("440-ctf-well", "@{tf2}/well.jpg");
