.svtf-search(
) {

.svtf-search {
    display: flex;

    > *:not(.svtf-search-control) {
        flex: 1;
    }
}

}  // .svtf-search


.svtf-search-control(
    @background-colour,
    @foreground-colour,
    @border-colour,
    @input-background-colour,
    @input-foreground-colour,
    @results-background-colour,
    @results-foreground-colour,
) {

.svtf-search-control {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: @background-colour;
    border-right: 1px solid @border-colour;
    color: @foreground-colour;

    input {
        width: 100%;
        padding: 0.25em;
        box-sizing: border-box;
        border: 0;
        background-color: @input-background-colour;
        color: @input-foreground-colour;
        font-size: 2.5em;

        &:focus {
            outline: 0;
        }
    }

    ol {
        flex: 1;
        padding: 0;
        list-style-type: none;

        li {
            margin: 1em;
        }
    }

    .svtf-search-results {
        padding: 2em 1em;
        background-color: @results-background-colour;
        color: @results-foreground-colour;
        text-align: center;
    }
}

}  // .svtf-search-control


.svtf-server-list(
    @background-colour,
    @foreground-colour,
    @name-background-colour,
) {

ol.svtf-server-list {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    li {
        min-width: 200px;
        padding: 10px;
        flex-basis: 20%;

        > div {
            background-color: @background-colour;
            color: @foreground-colour;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        }
    }
}

.svtf-server {
    transition: transform 0.1s linear;

    header {
        position: relative;
        padding: 0.5em;
        padding-bottom: 5em;
        overflow: hidden;

        .svtf-server-statistics {
            display: flex;
            justify-content: space-between;

            > * {
                position: relative;
                padding: 0.5em;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.5);
                box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
                font-size: 0.75em;
                z-index: 1;
            }
        }

        .svtf-server-map {
            position: absolute;
            bottom: 15%;
            right: -100%;
            padding: 0.5em 1em;
            font-size: 0.75em;
            background-color: @background-colour;
            box-shadow: 2px 2px 5px -2px #000000;
            z-index: 1;
            transition: right 0.2s ease-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
            background-size: cover;
            background-position: center center;
            -webkit-filter: saturate(40%);
            transition: all 0.1s linear;
        }
    }

    .svtf-server-name {
        position: relative;
        padding: 0.5em;
        background-color: @name-background-colour;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 3em;
            background-image: linear-gradient(
                270deg,
                @name-background-colour 0.5em,
                transparent,
            );
        }
    }

    .svtf-server-information {
        display: flex;

        > * {
            flex: 1;
            padding: 0.5em;
            text-align: center;

            > *:first-child {
                font-weight: bold;
            }

            > *:first-child + * {
                margin-top: 0.5em;
                font-size: 0.6em;
                text-transform: uppercase;
            }
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);

        header::after {
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            -webkit-filter: saturate(100%);
        }

        .svtf-server-map {
            right: 0;
        }
    }

    &:nth-child(1n) header::after { background-image: url("../images/badlands.jpg"); }
    &:nth-child(2n) header::after { background-image: url("../images/well.jpg"); }
    &:nth-child(3n) header::after { background-image: url("../images/granary.jpg"); }
}

}  // .svtf-server-list


body {
    .svtf-search();

    .svtf-search-control(
        #f8f8f8,
        #000000,
        #000000,
        #ffffff,
        #000000,
        #000000,
        #ffffff,
    );

    .svtf-server-list(
        #000000,
        #ffffff,
        #888888,
    );
}
