<div class="svtf-details">
  <header class="svtf-map-size-900" svtf-map="controller.server">
    <div class="svtf-details-map">
      <div class="svtf-details-map-details">
        <span>{{controller.server.map}}</span>
        <br>
        <span ng-if="controller.map_creators.length > 0">by
          <span
            class="svtf-details-map-identity"
            ng-repeat="creator in controller.map_creators">{{creator.name}}</span>
        </span>
      </div>
      <div class="svtf-details-map-image">
        <span>Image</span>
        <br>
        <span>by <span class="svtf-details-map-identity">gatsan</span></span>
      </div>
    </div>
    <div class="svtf-details-control">
      <div class="svtf-details-control-freshness">
        <div>0s</div>
        <div>Updated</div>
      </div>
      <a class="svtf-details-control-connect" href="#">
        <i class="fa fa-steam"></i>
        <div>Connect</div>
      </a>
      <a class="svtf-details-control-blacklist" href="#">
        <i class="fa fa-ban"></i>
        <div>Blacklist</div>
      </a>
      <a class="svtf-details-control-favourite" href="#">
        <i class="fa fa-star-o"></i>
        <div>Favourite</div>
      </a>
    </div>
  </header>
  <div class="svtf-details-latency">
    <div class="svtf-details-latency-location">
      <h3>Server</h3>
      <div class="svtf-details-latency-location-map">
        <!-- <svtf-location-map
          latitude="controller.server.latitude"
          longitude="controller.server.longitude"></svtf-location-map> -->
      </div>
    </div>
    <div class="svtf-details-latency-metrics">
      <h3>Approximate Latency</h3>
      <div>
        <div class="svtf-details-latency-metrics-metrics">
          <div class="svtf-details-latency-metrics-metrics-ping">
            {{controller.server|latency:0:-3|number:0}}<span>ms</span>
          </div>
          <div class="svtf-details-latency-metrics-metrics-distance">
            ~{{controller.server|distance:3|number:0}}<span>km</span>
          </div>
        </div>
      </div>
    </div>
    <div class="svtf-details-latency-location">
      <h3>You</h3>
      <div class="svtf-details-latency-location-map"></div>
    </div>
  </div>
  <div class="svtf-details-players">
    <div>
      <h3>Players</h3>
      {{controller.server.players.current}}/{{controller.server.players.max}}
    </div>
    <div class="svtf-details-players-table">
      <table>
        <thead>
          <tr>
            <th ng-click="controller.sortPlayers('name')">Name</th>
            <th ng-click="controller.sortPlayers('score')">Score</th>
            <th ng-click="controller.sortPlayers('duration')">Duration</th>
            <th ng-click="controller.sortPlayers('rate')">Score / min</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in controller.players|orderBy:controller.players_sort">
            <td>{{player.name}}</td>
            <td>{{player.score|number}}</td>
            <td>{{player.duration}}</td>
            <td>{{player.rate|number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
