<div class="svtf-sign-in">
  <div class="svtf-sign-in-content">
    <a href="sign-in" target="_blank">
      <img src="images/sign-in-through-steam.png">
      <small>Opens in a new tab.</small>
    </a>
    <h2>Why sign in?</h2>
    <ul>
      <li>Share your favourites across multiple devices.</li>
      <li>Keep your settings even if you clear your browsing history.</li>
      <li>It's easy. You just use your existing Steam account.</li>
    </ul>
  </div>
  <video
    src=""
    poster="http://placehold.it/640x360"
    autoplay loop muted></video>
</div>
