@import (reference) "../body.less";
@import (reference) "../header.less";
@import (reference) "../search.less";
@import (reference) "../tag.less";
@import (reference) "../modal.less";
@import (reference) "../details.less";
@import (reference) "../settings.less";

body.svtf-theme-steam {

    .svtf-body(#1B2838);

    .svtf-header(
        @background-colour: #171A21,
        @foreground-colour: #dedede,
        @border-colour: darken(#171A21, 5%),
        @sign-out-background-colour: #739844,
        @sign-out-foreground-colour: #ffffff,
    );

    .svtf-search-control(
        @background-colour: #0D131B,
        @foreground-colour: #8f989f,
        @border-colour: darken(#0D131B, 10%),
        @input-background-colour: lighten(#0D131B, 10%),
        @input-foreground-colour: #7cc5fb,
        @results-background-colour: darken(#0D131B, 5%),
        @results-foreground-colour: #7cc5fb,
    );

    .svtf-tag(
        @prefix-background-colour: #739844,
        @prefix-foreground-colour: #ffffff,
        @name-background-colour: #dedede,
        @name-foreground-colour: #000000,
        @stripe-colour: rgba(0, 0, 0, 0.1),
    );

    .svtf-server-list(
        @background-colour: darken(#0D131B, 5%),
        @foreground-colour: #dedede,
        @name-background-colour: #0D131B,
    );

    .svtf-modal(
        @frame-background-colour: #1B2838,
        @frame-foreground-colour: #dedede,
        @header-background-colour: #171A21,
        @header-foreground-colour: #dedede,
        @button-background-colour: #739844,
        @button-foreground-colour: #ffffff,
    );

    .svtf-details-map(
        @primary-background-colour: darken(#171A21, 5%),
        @primary-foreground-colour: #dedede,
        @secondary-background-colour: #dedede,
        @secondary-foreground-colour: darken(#171A21, 5%),
    );

    .svtf-details-control(
        @background-colour: darken(#171A21, 5%),
        @foreground-colour: #dedede,
        @connect-background-colour: #7cc5fb,
        @connect-foreground-colour: #ffffff,
        @blacklist-background-colour: #f76789,
        @blacklist-foreground-colour: #ffffff,
        @favourite-background-colour: #eeac3a,
        @favourite-foreground-colour: #ffffff,
    );

    .svtf-details-latency(
        @background-colour: #1B2838,
        @foreground-colour: #dedede,
        @location-background-colour: darken(#171A21, 5%),
        @location-foreground-colour: #dedede,
    );

    .svtf-details-players(
        @heading-background-colour: darken(#171A21, 10%),
        @heading-foreground-colour: #dedede,
    );

    .svtf-details-players-table(
        @header-background-colour: darken(#171A21, 10%),
        @header-foreground-colour: #dedede,
        @odd-row-background-colour: #1B2838,
        @odd-row-foreground-colour: #dedede,
        @even-row-background-colour: lighten(#1B2838, 2.5%),
        @even-row-foreground-colour: #dedede,
    );

}
