// Team Fortress 2 theme derived from the TF2 colour palette.

@import (reference) "../body.less";
@import (reference) "../header.less";
@import (reference) "../search.less";

@tf2-neutral-0: #f6e7de;
@tf2-neutral-1: #dabdab;
@tf2-neutral-2: #c1a18a;

@tf2-yellow-0: #f8b98a;
@tf2-yellow-1: #f5ad87;
@tf2-yellow-2: #ef9849;
@tf2-yellow-3: #f18149;

@tf2-red-0: #6a4534;
@tf2-red-1: #913a1f;
@tf2-red-2: #bd3a3a;
@tf2-red-3: #9d302f;
@tf2-red-4: #452c25;

@tf2-blu-0: #6b6a65;
@tf2-blu-1: #768a88;
@tf2-blu-2: #5b7a8c;
@tf2-blu-3: #385c78;
@tf2-blu-4: #342f2c;


body.svtf-theme-tf2 {

.svtf-body(@tf2-neutral-0);

.svtf-header(
    @tf2-blu-4,
    @tf2-neutral-0,
    darken(@tf2-blu-4, 10%),
);

.svtf-search();
.svtf-search-control(
    @tf2-red-4,
    @tf2-neutral-0,
    darken(@tf2-red-4, 20%),
    @tf2-neutral-1,
    @tf2-blu-4,
    darken(@tf2-red-4, 10%),
    @tf2-neutral-0,
);

}
