{% load staticfiles %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<link rel="stylesheet"  type="text/css" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=cyrillic,greek,latin-ext">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
