
{% extends "generic.html" %}

{% load humanize %}
{% load iso3166 %}

{% block title %}Home{% endblock %}
{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1', {'packages': ['geomap', "corechart"]});
	google.setOnLoadCallback(drawMap);
	google.setOnLoadCallback(drawOtherChart);
	google.setOnLoadCallback(drawModChart);
		
	function drawMap() {
		var data = google.visualization.arrayToDataTable([
		['Country', 'Server count'],
		{% for country_code, pop in count_servers.items %}
			{% if pop != 0 %}
				["{{country_code}}", Math.log({{pop}})],
			{% else %}
				["{{country_code}}", {{pop}}],
			{% endif %}
		{% endfor %}
		]);

		var options = {
			width: 940 + 20 * 2,
			showLegend: false
		};
		options['dataMode'] = 'regions';

		var container = document.getElementById("server-dist-map");
		var geomap = new google.visualization.GeoMap(container);
		geomap.draw(data, options);
	};
	
	function drawOtherChart() {
		var data = google.visualization.arrayToDataTable([
			["Country","Utilsation"],
			{% for region, util in region_cap_usage.items %}
				{% if util.0 > 0 %}
					["{{region}}", {{util.1}} / {{util.0}}],
				{% endif %}
			{% endfor %}
		]);

		var options = {
			colors: ["#46B720", "#B3CD18"],
			vAxis: {
				gridlines: {
					color: "#FFFFFF"
				},
				format: "#%"
			},
			hAxis: {
				baselineColor: "#B2B2B2"
			},
			legend: {
				position: "none"
			},
		};

		var chart = new google.visualization.ColumnChart(document.getElementById("cap-usage-chart"));
		chart.draw(data, options);
	}
	
	function drawModChart() {
		
		var data = google.visualization.arrayToDataTable([
			["Mod", "Server Count"],
			{% for mod, count in mod_servers.items %}
				["{{mod}}", {{count}}],
			{% endfor %}
		]);
		
		var options = {
			colors: ["#46B720", "#B3CD18", "#56C153", "#218A02", "#C2E93F"]
		};

		var chart = new google.visualization.PieChart(document.getElementById("mod-count-chart"));
		chart.draw(data, options);
		
	}
	
	drawMap();
	drawOtherChart();
	drawModChart();
</script>
{% endblock %}
{% block content %}

			<p id="intro">
				servers.tf is a web-based Team Fortress 2 server browser,
				tracking {{server_count|intcomma}} servers worldwide
			</p>
			<h3>Server Distribution</h3>
			<div id="server-dist-map"></div>
			
			<div style="float: left; width: 50%">
				<div style="padding: 5px;">
					<h3>Players by Region</h3>
					<table class="fancy">
						
						{% for region, pop in region_pops.items %}
							<tr>
								<td style="font-weight: bold;">{{region}}</td>
								<td style="text-align: right;">{{pop|intcomma}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			
			<div style="float: left; width: 50%">
				<div style="padding: 5px;">
					<h3>Players by Map</h3>
					<table class="fancy">
						{% for map, pop in map_pops %}
							<tr>
								<td style="font-weight: bold;">{{map}}</td>
								<td style="text-align: right;">{{pop|intcomma}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			
			<div class="clear"></div>
			
			<div style="float: left; width: 50%">
				<div style="padding: 5px;">
					<h3>Capacity Utilisation</h3>
					<div id="cap-usage-chart"></div>
				</div>
			</div>
			
			<div style="float: right; width: 50%">
				<div style="padding: 5px;">
					<h3>Alternate Gamemodes</h3>
					<div id="mod-count-chart"></div>
				</div>
			</div>
			
			<div class="clear"></div>
{% endblock %}
