
<!-- START modal -->
<div id="modal">
	<div>
		<div id="modal-controls-wrap">
			<div id="modal-controls">
				<span id="modal-title"><span id="modal-icon" class="icon-cogs"></span></span>
				<a id="modal-close">Close <span class="icon-remove"></span></a>
			</div>
		</div>
		<div id="modal-content">
		</div>
	</div>
</div>

{% for modal in modals %}
<div id="modal-{{modal.name}}" class="modal">
	<span class="title">{{modal.title}}</span>
	<span class="icon">{{modal.icon}}</span>
	<div class="content">
		{% autoescape off %}
		{{modal.content}}
		{% endautoescape %}
	</div>
</div>
{% endfor %}
<!-- END modal -->
