{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Lobbies &mdash; servers.tf</title>
		{% include 'common_head.html' %}
		<link rel="stylesheet"  type="text/css" href="{% static 'css/lobby.css' %}">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="{% static 'js/serverstf.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/lobby.js' %}"></script>
		
		<script type="text/javascript">
			document.fixed_header = true;
			
			$(document).ready(function () {
				serverstf.api_root = "/rest";
				serverstf.csrf_token = "{{csrf_token}}";
				
				lobby.User.template.source = $(".user-card.template");
				lobby.User.template.fields = {
					profile_name: ".profile-name",
					avatar: "img.avatar",
				};
				lobby.party_overview = $("#party-panel");
				lobby.party = new lobby.Party({{party.id}});
				
				lobby.init();
			});

			$(document).ready(function () { $(window).trigger("resize") });
		</script>
	</head>
	
	<body>
		{% include 'header_wide.html'%}
		
		<div class="user-card online template">
			<img class="avatar" src="">
			<a class="profile-name" target="_blank" href=""></a>
			<span style="float: right;">1684</span>
		</div>
		
		<div id="main">
			<!-- START main -->
			
			<div id="party-panel">
				<div>
					
					<div id="party-config" class="divide">
						<form class="divide">
							<div class="field-wrapper">
								{{party_form.map.label_tag}}{{party_form.map}}
							</div>
							<div class="field-wrapper">
								{{party_form.type.label_tag}}{{party_form.type}}
							</div>
							<div class="field-wrapper">
								{{party_form.config.label_tag}}{{party_form.config}}
							</div>
							<div class="field-wrapper">
								<label><span class="icon-spinne icon-spi"></span></label>
								<button>Search</button>
							</div>
						</form>
						<form>
							<div id="role-selection" class="field-wrapper divide">
								{{class_form.roles.label_tag}}{{class_form.roles}}
							</div>
						</form>
						
						<div class="field-wrapper">
							<label>Invite</label><input type="text" value="{{party.join_url}}">
						</div>
					</div>
					
					<div id="party-members">
						<p id="solo-hint">
							You can invite friends to play with you by giving them
							the link above
						</p>
					</div>
					
				</div>
			</div>
			
			<div id="lobbies">
				<div>
				<!--
				
					<div class="lobby-entry">
						<div class="overview">
							<span class="fixed-span">EU</span><span class="fixed-span">6v6</span><span class="fixed-span">0/12</span>
							cp_badlands
						</div>
						<div class="teams">
						
							<span class="versus">vs</span>
							<div class="slots red">
								
								<div class="team">red</div>
								
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Medic</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Demo</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Pocket</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Roamer</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Scout</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Scout</span>
								</div>
								
							</div>
							
							<div class="slots blu">
								
								<div class="team">blu</div>
								
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Medic</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Demo</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Pocket</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Roamer</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Scout</span>
								</div>
								<div class="slot">
									<div class="join">
										<span class="icon-plus"></span>
									</div>
									<span class="class-name">Scout</span>
								</div>
								
							</div>
							
							
							<div class="clear"></div>
						</div>
					</div>
				
				-->
				</div>
			</div>
		
		<!-- END main -->
		</div>
		
	</body>
</html>
